body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  text-transform: uppercase;

  background-color: #ffffff;
  background-image: url("img/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

h3 {
	font-size: 21px;
	font-weight: 700;
	color: #000000;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.button:active {
  background-color: #503e33;
}

.button-blue {
	font: inherit;

	text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button-blue:hover,
.button-blue:focus {
	background-color: #669ec0;
}

.button-blue:active {
	background-color: #5496bd;
}

.header {
  margin-bottom: 60px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.navigation {
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200; 

}

.site-navigation{
  list-style: none;

  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: #ffffff;

  justify-content: space-around;
}

.site-navigation a{
  color: #000000;

  width: 138; 
  height: 70;
}


.font {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  margin-bottom: 60px;
  list-style: none;
 /* width: 495px;
  justify-content: center;
  align-content: center; */
}

small {
	font-size: 14px;
	font-weight: 400;
  color: #333333;
}

.advantages-row {
  color: #ffffff;

  background-color: #81b3d2;

  display: flex;
}

.advantages-row .text{
	width: 290px;
	padding-top: 45px;
	padding-bottom: 60px;
	padding-right: 55px;
	padding-left: 55px;
}
.advantages-row h3 {
	color: #ffffff;
}

.advantages-list {
	display: flex;
	list-style: none;
}

.advantages-item {
	width: 400px;
	padding-top: 60px;
	padding-bottom: 85px;
	padding-left: 70px;
	padding-right: 70px;
}
.advantages-row-row {
	display: flex;
}

.advantages-row-item {
	background-color: #eeeeee;
	
	list-style: none;
	width: 400px;
	padding-top: 45px;
	padding-bottom: 60px;
	padding-right: 90px;
	padding-left: 90px;

} 

.search {

}

.search b {
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
}
.search p {
	line-height: 24px;
}

.search-item input{
	font: inherit;
	color: #000000;

	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;
}


.search-item input:hover {
	background-color: #ebebeb;
	border: 2px solid #ebebeb;
}

.search-item input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.footer {
  color: #000000;

  background-color: #ffffff;
}

.footer .container {
	display: flex;

}

.footer a{
	color: #000000;
	font-weight: 700;
	font-size: 21px;
  line-height: 26px;

  margin: auto;
  width: 145px;
}

.footer-social {
  list-style: none;
  width: 150px;
  margin: auto;
 }

 .footer-copyright {
 	color: #000000;
	font-size: 14px;
  line-height: 26px;

  margin: auto;
  width: 200px;
 }

 .form {
 	color: #ffffff;

 	background-color: #566874;

 	display: flex;
  flex-direction: row;
 	width: 1060px;
 	padding-top: 25px;
	padding-bottom: 30px;
	padding-right: 73px;
	padding-left: 73px;
 }

 .infrastructure {
 	display: flex;
   width: 200px;
 }

.housing {
	display: flex;
	width: 200px;
}

.cost {
	display: flex;
	width: 330px;
	margin-left: auto;
}

 .form fieldset {
  border: none;
}

.form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.sort{
	font-size: 12px;
  line-height: 18px;

  display: flex;
  padding: 0;
  margin: 0;
}

.sort big{
	font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort-button {

}

.hotels {
  margin-bottom: 73px;
  margin-right: 73px;
}

.hotels-item {
	display: flex;
}

.hotels-content {
	width: 265px;
}

.hotels-rating {
	width: 111px;
	margin-left: auto;
}

.hotels-content h3 {
	line-height: 26px;
}

.hotels-content h3:hover {
	line-height: 26px;

	color:#81b3d2;
}

.hotels-content h3:active {
	line-height: 26px;
  /* Прозрачность 30% */
}

.hotels-content p{

}

.sort ul{
	list-style: none;

	display: flex;
}

.hotels ul{
	list-style: none;
}

.hotels-rating {
	color:#666666;

	background-color: #f2f2f2;
}  

/* Прозрачность 30%*/
.sort a{
	color: #000000;
  text-decoration: none;
  border-bottom:1px dashed #81b3d2;
  opacity: 30%;
}

.sort a:hover{
	color: #81b3d2;
  text-decoration: none;
  border-bottom:1px dashed #81b3d2;
}

.sort a:active{
	color: #000000;
  text-decoration: none;
  border-bottom: none;
}